
<%- include('header')%>

<div class="seperater box"></div>
<div class="content box">
    <div class="article box">
        <div class="img">
            <img src=<%= imgCorp %> alt="">
        </div>
        <div class="text box">
            <a href=<%= slugCorp %>><%= slugCorp%></a>
            <p><%= artTwoDate%></p>
        </div>
    </div>
    <div class="article box">
        <div class="img">
            <img src="img/none.jpg" alt="">
        </div>
        <div class="text box">
            <a href=<%= slugBat %>><%= artOne %></a>
            <p><%= artOneDate %></p>
        </div>
    </div>
</div>
<div class="seperater box"></div>
<div class="content box">
    <div class="article box">
        <div class="img">
            <img src="img/none.jpg" alt="">
        </div>
        <div class="text box">
            <a href=<%= slugFlux %>><%= artThree %></a>
            <p><%= artThreeDate %></p>
        </div>
    </div>
    <div class="article box">
        <div class="img">
            <img src=<%= imgLor %> alt="">
        </div>
        <div class="text box">
            <a href=<%= slugLor %>><%= artFour %></a>
            <p><%= artFourDate %></p>
        </div>
    </div>
</div>
<%- include('footer')%>
