
<%- include('header')%>

<div class="seperater box"></div>
<div class="content box">
    
    <div class="article box">
        <div class="img">
            <a href=<%= slugFlux %>><img src="img/none.jpg" alt=""></a>
        </div>
        <div class="text box">
            <a href=<%= slugFlux %>><p><%= artThree %></p></a>
            <p><%= artThreeDate %></p>
        </div>
    </div>
    
    <div class="article box">
        <div class="img">
            <a href=<%= slugCorp %>><img src=<%= imgCorp %> alt=""></a>
        </div>
        <div class="text box">
            <a href=<%= slugCorp %>><p><%= slugCorp%></p></a>
            <p><%= artTwoDate%></p>
        </div>
    </div>

    
</div>
<div class="seperater box"></div>
<div class="content box">
   
    <div class="article box">
        <div class="img">
            <a href=<%= slugLor %>><img src=<%= imgLor %> alt=""></a>
        </div>
        <div class="text box">
            <a href=<%= slugLor %>><p><%= artFour %></p></a>
            <p><%= artFourDate %></p>
        </div>
    </div>

    <div class="article box">
        <div class="img">
            <a href=<%= slugBat %>><img src="img/none.jpg" alt=""></a>
        </div>
        <div class="text box">
            <a href=<%= slugBat %>><p><%= artOne %></p></a>
            <p><%= artOneDate %></p>
        </div>
    </div>

</div>
<%- include('footer')%>
